<div><%= image_tag @senior_user.get_profile_image(500,500) %></div>
<div><%= @senior_user.name %></div>
<div><%= @senior_user.introduction %></div>
<% if current_senior_user == @senior_user %>
  <%= link_to "編集", edit_senior_senior_user_path(@senior_user) %>
  <%= link_to "退会", senior_senior_user_path(@senior_user), method: :delete %>
<% end %>