<% if @noritu_post.errors.any? %>
  <%= @noritu_post.errors.count %>件のエラーが発生しました
  <ul>
    <% @noritu_post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @noritu_post, url: senior_noritu_post_path(@noritu_post), method: :patch do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>説明文</h4>
  <%= f.text_area :body %>
  <h4>日時</h4>
  <%= f.datetime_field :datetime %>
  <h4>現在地</h4>
  <%= f.text_area :current_location %>
  <h3>↓</h3>
  <h4>目的地</h4>
  <%= f.text_area :destination %>
  <%= f.submit "変更" %>
<% end %>
<%= link_to "削除", senior_noritu_post_path(@noritu_post), method: :delete %>