<% if @noritu_post.errors.any? %>
  <%= @noritu_post.errors.count %>件のエラーが発生しました
  <ul>
    <% @noritu_post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<div class= "container">
  <div class= "row">
    <div class= "col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
      <h2>新規投稿</h2>
      <%= form_with model: @noritu_post, url: "/senior/noritu_posts", method: :post do |f| %>
        <div class= "form-group">
          <label for= "noritu_post_title">タイトル</label>
          <div>
            <%= f.text_field :title %>
          </div>
          <label for= "noritu_post_body">説明文</label>
          <div>
            <%= f.text_area :body %>
          </div>
          <label for= "noritu_post_datetime">希望日時</label>
          <div>
            <%= f.datetime_field :datetime %>
          </div>
          <label for= "noritu_post_current_location">現在地</label>
          <div>
            <%= f.text_area :current_location %>
          </div>
          <h4>↓</h4>
          <label for= "noritu_post_destination">目的地</label>
          <div>
            <%= f.text_area :destination %>
          </div>
        </div>
        <div>
          <%= f.submit "投稿", class: "btn btn-success form-group" %>　
        </div>
      <% end %>
    </div>
  </div>
</div>




