<h4>タイトル</h4>
<%=@noritu_post.title %>
<h4>説明文</h4>
<%=@noritu_post.body %>
<h4>日時</h4>
<%= @noritu_post.datetime %>
<h4>出発地点</h4>
<%= @noritu_post.current_location %>
<h4>目的地</h4>
<%= @noritu_post.destination %>
<% if @noritu_post.senior_user == current_senior_user %>
  <%= link_to "編集", edit_senior_noritu_post_path(@noritu_post.id) %>
<% end %>