<div class= "card-list-container">
  <div class= "col-8 mx-auto mt-4">
    <h2 class="row">
      <div class= "col-4 offset-1">
        グループ一覧
      </div>
    </h2>
    <div class="row no-gutters">
      <% @groups.each do |group| %>
        <div class="col-10 card mb-3 mx-auto">
          <div class= "row">
            <div class="col-md-4 ">
              <%= image_tag group.get_group_image(500,500), class: "card-img-top group_index_image" %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  <%= link_to young_group_path(group) do %>
                    <%= group.name %>
                  <% end %>
                </h5>
                <p class="card-text"><%= group.introduction %></p>
                <p class="card-text"><small class="text-muted"><%= group.young_users.count %>人が参加中</small></p>
              </div>
            </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>













  

