<h1>グループ作成</h1>
<%= form_with model: @group, url: young_groups_path do |f| %>
  <h4>グループ名</h4>
  <%= f.text_field :name %>
  <h4>グループイメージ</h4>
  <%= f.file_field :group_image, accept: "image/*" %>
  
  <h4>説明文</h4>
  <%= f.text_area :introduction %>
  
  <%= f.submit "グループ作成" %>
<% end %>