<div class= "container px-5 px-sm-0">
  <div class= "row">
    <div class= "col-md-3">
      <%= render 'young_user', young_user: @young_user %>
      <%= render 'young/wisdom_posts/new', wisdom_post: @wisdom_post_new %>
    </div>
    <div class= "col-md-8 offset-md-1">
      <h1>ユーザー一覧</h1>
      <table class= "table table-hover table-inverse">
        <thead>
          <tr>
            <th>名前</th>
            <th>自己紹介</th>
            <th>投稿数</th>
          </tr>
        </thead>
        <tbody>
          <% @young_users.each do |young_user| %>
            <tr>
              <th>
                <%= link_to young_user_path(young_user.id) do %>
                  <%= young_user.name %>
                <% end %>
              </th>
              <th>
                <%= young_user.introduction %>
              </th>
              <th>
                <%= young_user.wisdom_posts.count %>投稿
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


