<div class= "container">
  <% unless current_young_user.email == "guest@example.com" %>
    <div class= "row mt-2">
      <div class= "col-md-5 offset-md-7 btn-group" role="group" aria-label="Basic outlined example">
        <%= link_to "グループ作成", new_young_group_path, class: "btn btn-outline-primary" %>
        <%= link_to "グループ一覧", young_groups_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>

  <div class= "row">
    <div class= "col-md-6 mx-auto mt-4">
      <%= render 'young/searches/form', model_name: "user" %>
    </div>
  </div>



  <div class="row mt-5">
    <% @young_users.each do |young_user| %>

      <div class="card mt-2 col-sm-6 col-md-4">
        <div class= "row">
          <div class= "col-12 text-center">
            <%= image_tag young_user.get_profile_image(500,500),class: "young_user_index_profile_image rounded-circle  mt-3" %>
          </div>
        </div>
          <div class="card-body ">
            <h5 class="card-title text-center">
              <%= link_to young_user_path(young_user) do %>
                <%= young_user.name %>
              <% end %>
            </h5>
            <p class="card-text young_user_index_introduction"><%= truncate(young_user.introduction, length: 30) %></p>
          </div>
          <div class= "card-footer">
            <div class= "text-body-secondary"><%=young_user.wisdom_posts.count %>投稿</div>
          </div>
      </div>

    <% end %>
  </div>
</div>





