<div><%= flash[:notice] %></div>
<div class= "container">
  <div class= "row">
    <div class= "col-xl-3">
      <%= render 'young_user', young_user: @young_user %>
    </div>
    <div class= " card-list col-md-8 offset-md-1">
      <% @wisdom_posts.each do |wisdom_post| %>
      
        <div class= "card w-40 mx-auto mt-4 shadow-lg">
          <%=image_tag wisdom_post.get_wisdom_post_image(1000, 1000), class: "card-img-top"; %>
          <div class= "card-body">
            <div class= "row">
              <div class= "col-2">
                <%= image_tag wisdom_post.young_user.get_profile_image(500,500), class: "profile_image mt-3 rounded-circle"; %>
              </div>
              <div class= "col-10">
                <p class= "card-title">
                  <%= link_to wisdom_post_path(wisdom_post.id), class: "text-dark" do %>
                    <strong><i class="fa-solid fa-book-open"></i><span><%= wisdom_post.title %></span></strong>
                  <% end %>
                </p>
                <p class="card-text"><%= wisdom_post.body %></p>
                <span>
                  <%= link_to young_user_path(wisdom_post.young_user.id), class: "text-dark" do %>
                    <i class="fa-solid fa-user"></i><%= wisdom_post.young_user.name %>
                  <% end %>
                </span>
                <span><%= link_to "#{wisdom_post.wisdom_post_comments.count}コメント",wisdom_post_path(wisdom_post.id), class: "text-dark"%></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




