<div class= "container">
  <div><%= flash[:notice] %></div>
  <div class= "row">
    <div class="img-fluid max-width: 100%; height: auto;"><%= image_tag 'top_page' %></div>
  </div>
  <div class= "row">
    <div class= "mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class= "btn-wrapper col-10 mx-auto">
        <div class= "row">
          <%= link_to new_young_user_registration_path, class: "text-light btn btn-warning btn-sm btn-block md-3 sign_up" do  %>
            新規登録
          <% end %>
        </div>
        <div class= "row">
          <%= link_to new_young_user_session_path, class: "text-light btn btn-success btn-sm btn-block sign_in" do %>
            ログイン
          <% end %>
        </div>
        <div class= "row">
          <%= link_to  young_users_guest_sign_in_path, method: :post, class:"text-light btn btn-danger btn-sm btn-block guest_sign_in" do  %>
            ゲストログイン
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



