<% if @model == 'user' %>
	<h3>YoungUsers search for "<%= @content %>"</h3>
	<% @records.each do |young_user| %>
    <%= link_to young_user_path(young_user.id) do %>
      <%= young_user.name %>
     <% end %>
     <%= young_user.introduction %>
     <%= young_user.wisdom_posts.count %>投稿
  <% end %>
<% else @model == 'post' %>
	<h3>WisdomPost search for "<%= @content %>"</h3>
    <% @records.each do |wisdom_post| %>
    　<tr>
        <td>
          <%= link_to wisdom_post_path(wisdom_post.id) do %>
            <%= wisdom_post.title %>
          <% end %>
        </td>
        <td><%= wisdom_post.body %></td>
        <td>
          <%= link_to young_user_path(wisdom_post.young_user.id) do %>
            <%= wisdom_post.young_user.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
<% end %>