

<% if @model == 'user' %>
  <div class="row mt-5">
    <div class= "col-8 offset-2">
      <div class= "row">
        <h3>ワード検索 "<%= @content %>"</h3>
      </div>
      <div class= "row">
        <%= @records.count %>件のヒット
      </div>
      <div class= "row">
        <% @records.each do |young_user| %>
          <div class="card mt-2 col-sm-6 col-md-4">
            <div class= "row">
              <div class= "col-12 text-center">
                <%= image_tag young_user.get_profile_image(500,500),class: "young_user_index_profile_image rounded-circle  mt-3" %>
              </div>
            </div>
            <div class="card-body ">
              <h5 class="card-title text-center">
                <%= link_to young_user_path(young_user) do %>
                  <%= young_user.name %>
                <% end %>
              </h5>
              <p class="card-text young_user_index_introduction"><%= truncate(young_user.introduction, length: 30) %></p>
            </div>
            <div class= "card-footer">
              <div class= "text-body-secondary"><%=young_user.wisdom_posts.count %>投稿</div>
            </div>
          </div>
        <% end %>
      </div>
      <div class= "row mt-3">
        <%= link_to "前のページに戻る", :back %>
      </div>
    </div>
  </div>
<% else @model == 'post' %>
  <div class="card-list-container py-5">
    <div class= "row">
      <div class= "col-8 offset-2">
        <h3 class= "text-align-center">ワード検索 "<%= @content %>"</h3>
      </div>
    </div>
    <div class= "row">
      <div class= "col-8 offset-2">
        <%= @records.count %>件のヒット
      </div>
    </div>

    <% @records.each do |wisdom_post| %>
      <div class="card w-50 mx-auto mt-4 shadow-lg">
        <%= link_to wisdom_post_path(wisdom_post.id) do %>
          <%= image_tag wisdom_post.get_wisdom_post_image(1000,1000), class: "card-img-top"; %>
        <% end %>
        <div class="card-body">
          <div class= "row">
            <div class= "col-2">
              <%= image_tag wisdom_post.young_user.get_profile_image(1000,1000), class: "profile_image mt-3 rounded-circle"; %>
            </div>
            <div class="col-10">
              <p class="card-title">
                <%= link_to wisdom_post_path(wisdom_post.id), class: "text-dark" do %>
                  <strong><i class="fa-solid fa-book-open"></i><span><%= wisdom_post.title %></span></strong>
                <% end %>
              </p>
              <p class="card-text"><%= wisdom_post.body %></p>
              <span>
                <%= link_to young_user_path(wisdom_post.young_user.id), class: "text-dark" do %>
                  <i class="fa-solid fa-user"></i><%= wisdom_post.young_user.name %>
                <% end %>
              </span>
              <span><%= link_to "#{wisdom_post.wisdom_post_comments.count}コメント",wisdom_post_path(wisdom_post.id), class: "text-dark"%></span>
              <div><%= wisdom_post.created_at.strftime('%y/%m/%d') %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class= "row mt-3">
    <div class= "col-8 offset-2">
      <%= link_to "前のページに戻る", :back %>
    </div>
  </div>
<% end %>



