<% if @wisdom_post.errors.any? %>
  <%= @wisdom_post.errors.count %>件のエラーが発生しました
  <ul>
    <% @wisdom_post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class= "container">
  <div class= "row">
    <div class= "col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
      <h2>投稿編集画面</h2>
      <%= form_with model: @wisdom_post do |f| %>
      <div class= "form-group">
        <label for= "wisdom_post_image">投稿イメージ</label>
        <div>
          <%= f.file_field :wisdom_post_image, accept: "image/*" %>
        </div>
        <label for= "wisdom_post_title">タイトル</label>
        <div>
          <%= f.text_field :title %>
        </div>
        <label for= "wisdom_post_body">本文</label>
        <div>
          <%= f.text_area :body %>
        </div>
      </div>
      <div>
        <%= f.submit "変更を保存", class: "btn btn-success form-group" %>
      </div>
      <% end %>
      <%= link_to "削除", wisdom_post_path(@wisdom_post), method: :delete, data: {confirm: "削除しますか？"}%>
    </div>
  </div>
</div>