

<%= render 'young/young_users/young_user', young_user: @young_user %>
<%= render 'new', wisdom_post: @wisdom_post_new %>

<% @wisdom_posts.each do |wisdom_post| %>
  <div>
    <p>タイトル</p>
    <span>
      <%= link_to wisdom_post_path(wisdom_post.id) do %>
        <%= wisdom_post.title %>
      <% end %>
    </span>
    <p>本文<%= wisdom_post.body %></p>
    <P>作成者<%= wisdom_post.young_user.name %></P>
  </div>
<% end %>