
<% if current_young_user.email == "guest@example.com" %>
  <h1>新規投稿は会員登録後に行えます</h1>
<% else %>
<div class= "container">
  <div class= "row">
    <div class= "col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
      <h2>新規投稿</h2>
      <%= form_with model: @wisdom_post_new do |f| %>
      <div class= "form-group">
        <label for= "wisdom_post_image">投稿イメージ</label>
        <div>
          <%= f.file_field :wisdom_post_image, accept: "image/*" %>
        </div>
        <label for= "wisdom_post_title">タイトル</label>
        <div>
          <%= f.text_field :title %>
        </div>
        <label for= "wisdom_post_body">本文</label>
        <div>
          <%= f.text_area :body %>
        </div>
      </div>
      <div>
        <%= f.submit "投稿", class: "btn btn-success form-group" %>　
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
