<div class= "container">
  <div class= "row">
    <div class= "col-md-3">
      <%= render 'young/young_users/young_user', young_user: @young_user %>
      <%= render 'new', wisdom_post: @wisdom_post_new %>
    </div>
    <div class= "col-md-8 offset-md-1">
      <h2>投稿詳細</h2>
      <table class= "table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Author</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @wisdom_post.title %>
            </td>
            <td>
              <%= @wisdom_post.body %>
            </td>
            <td>
              <%= @wisdom_post.young_user.name %>
            </td>
            <td>
              <p><%= @wisdom_post.created_at.strftime('%y/%m/%d') %></p>
            </td>
          </tr>
        </tbody>
      </table>
      <% if @wisdom_post.young_user === current_young_user %>
        <%= link_to "編集", edit_wisdom_post_path(@wisdom_post) %>
      <% end %>
      <div>
        <p>コメント件数<%= @wisdom_post.wisdom_post_comments.count %></p>
        <% @wisdom_post.wisdom_post_comments.each do |wisdom_post_comment| %>
          <p><%= image_tag wisdom_post_comment.young_user.get_profile_image(100,100) %></p>
          <%= wisdom_post_comment.young_user.name %>
          <%= wisdom_post_comment.created_at.strftime('%Y/%m/%d') %><%= wisdom_post_comment.comment %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@wisdom_post,@wisdom_post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



