<div class= "container">
  <div class= "row">
    <div class= "col-xl-3">
      <%= render 'young/young_users/young_user', young_user: @young_user %>
    </div>
    <div class= "col-md-8 offset-md-1">
      <div class= "row card w-70 mx-auto mt-4 shadow-lg">
        <%= image_tag @wisdom_post.get_wisdom_post_image(1000, 1000), class: "card-img-top"; %>
        <div class= "card-body">
          <div class= "row">
            <div class= "col-2">
              <%= image_tag @wisdom_post.young_user.get_profile_image(500,500), class: "profile_image mt-3 rounded-circle"; %>
            </div>
            <div class= "col-10">
              <p class= "card-title">
                <strong><i class="fa-solid fa-book-open"></i><span class= "text-dark"><%= @wisdom_post.title %></span></strong>
              </p>
              <p class= "card-text"><%= @wisdom_post.body %></p>
              <span>
                <%= link_to young_user_path(@young_user.id), class: "text-dark" do %>
                  <i class="fa-solid fa-user"></i><%= @young_user.name %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class= "col-5 mx-auto ">
          <% if @wisdom_post.young_user === current_young_user %>
            <%= link_to edit_wisdom_post_path(@wisdom_post), class:"btn btn-outline-info btn-block" do %>
              <i class="fa-solid fa-pencil"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class= "row">
        <h5><strong>コメント<%= @wisdom_post.wisdom_post_comments.count %>件</strong></h5>
      </div>
      <div class= "row">
        <div class= "col-12 row comment_table">
          <div class= "col-2">
            投稿者
          </div>
          <div class= "col-2">
            名前
          </div>
          <div class= "col-4">
            コメント
          </div>
          <div class= "col-2">
            投稿日
          </div>
        </div>
        <div class= "col-12 row ">
          <% @wisdom_post.wisdom_post_comments.each do |wisdom_post_comment| %>
            <div class= "col-12 row comment_element">
              <div class= "col-2">
                <%= link_to young_user_path(wisdom_post_comment.young_user_id) do %>
                  <%= image_tag wisdom_post_comment.young_user.get_profile_image(500,500),class: "comment_profile_image mt-2 mb-2 rounded-circle" %>
                <% end %>
              </div>
              <div class= "col-2 d-flex align-items-center justify-content-center mt-2 mb-2">
                <%= wisdom_post_comment.young_user.name %>
              </div>
              <div class= "col-4 d-flex align-items-center mt-2 mb-2">
                <%= wisdom_post_comment.comment %>
              </div>
              <div class= "col-2 d-flex align-items-center justify-content-center mt-2 mb-2">
                <%= wisdom_post_comment.created_at.strftime('%Y/%m/%d') %>
              </div>
              <div class= "col-2 d-flex align-items-center justify-content-center mt-2 mb-2">
                <% if wisdom_post_comment.young_user == current_young_user %>
                  <%=link_to wisdom_post_wisdom_post_comment_path(wisdom_post_comment.wisdom_post, wisdom_post_comment), method: :delete, data: {confirm: "削除しますか？"} do %>
                    削除
                  <% end %>

                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <% if @comment.errors.any? %>
          <div class= "row">
            <%= @comment.errors.count %>件のエラーが発生しました
            <ul>
              <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
       <div class= "row mx-auto ">
          <div class= "col-md-12 comment_post">
            <% unless current_young_user.email == "guest@example.com" %>
              <%= form_with model: [@wisdom_post,@comment] do |f| %>
                <%= f.text_area :comment, rows: '3',cols:'54', placeholder: "コメントをここに",class: "mt-2 mb-2" %>
                <%= f.submit "送信する",class:"btn btn-outline-info btn-block"%>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



