<!DOCTYPE html>
<html>
  <head>
    <title>Noritunoraretu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5fb2cd06c3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if admin_signed_in? %>
      <div class= "text-right">
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>