<!DOCTYPE html>
<html>
  <head>
    <title>Noritunoraretu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <headder>
      <%= link_to "about", homes_about_path %>
      <%= link_to "Wisdom", wisdom_posts_path %>
      <%= link_to "Users", young_users_path %>
    </headder>
    <%= yield %>
  </body>
</html>
