<!DOCTYPE html>
<html>
  <head>
    <title>Noritunoraretu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <headder>
      <% if young_user_signed_in? %>
        <li>
        <%= link_to "マイページ", young_user_path(current_young_user.id) %>
        </li>

        <li>
          <%= link_to "ログアウト", destroy_young_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_young_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_young_user_session_path %>
        </li>
      <% end %>

      <%= link_to "about", homes_about_path %>
      <%= link_to "Wisdom", wisdom_posts_path %>
      <%= link_to "Users", young_users_path %>
    </headder>
    <%= yield %>
  </body>
</html>
